body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #bc9fffea;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: rgb(143, 194, 253);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.login-section {
    width: 40%;
    padding: 50px;
    background-color: #f8f8f89d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo img {
    width: 80px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 40px;
}

.input-box {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 12px;
    background: #cf9ef7ad;
    border: 1px solid #ddd;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
}

.verification-code {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

.btn {
    width: 100%;
    background: #4a90e2;
    border: none;
    padding: 12px;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn:hover {
    background: #357ab7;
}

.forgot-password {
    display: block;
    color: #888888;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    color: #333;
}

.image-section {
    width: 60%;
    background: linear-gradient(to right, #4a90e2, #5077e3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    max-width: 105%;
    height: auto;
}